@import "tailwindcss";

@theme {
  --color-white: #FFF;
  --color-black: #000;
  
  --color-gray-100: #E1E1E6;
  --color-gray-200: #A9A9B2;
  --color-gray-400: #7C7C8A;
  --color-gray-500: #505059;
  --color-gray-600: #323238;
  --color-gray-700: #29292E;
  --color-gray-800: #202024;
  --color-gray-900: #121214;
  
  --color-ignite-300: #00B37E;
  --color-ignite-500: #00875F;
  --color-ignite-700: #015F43;
  --color-ignite-900: #00291D;
  
  --font-family-default: 'Inter', sans-serif;
  --font-family-code: 'JetBrains Mono', monospace;
  
  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-4xl: 2rem;
  --font-size-5xl: 2.25rem;
  --font-size-6xl: 3rem;
  --font-size-7xl: 4rem;
  --font-size-8xl: 4.5rem;
  --font-size-9xl: 6rem;
  
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  
  --line-height-shorter: 125%;
  --line-height-short: 140%;
  --line-height-base: 160%;
  --line-height-tall: 180%;
  
  --radius-px: 1px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-full: 9999px;
  
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-40: 10rem;
  --spacing-64: 16rem;
  --spacing-80: 20rem;
}